<div class="container preloader-wrapper" ng-if="pageReady == false">
  <div class="preloader">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>
</div>
<div ng-show="pageReady" class="container gi-cart checkout-container">
  <div class="row" ng-show="cart.totalItems() === 0">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 well">
      <p>Your cart is empty</p>
    </div>
  </div>
  <div ng-cloak class="small-gap" ng-show="cart.totalItems() > 0">
    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="gi-cart-spinner-1"></span>
    <div ng-form name="checkoutForm" class="checkout-form">
      <div class="checkout-left-menu-container">
        <div class="checkout-summary-container mobile-summary">
          <div class="summary-title">Summary</div>
          <table class="table checkout-table">
            <thead>
              <tr>
                <th><span class="checkout-text">Order</span></th>
                <th></th>
              </tr>
            </thead>
            <tfoot>
              <tr class="checkout-total-row">
                <th>Total</th>
                <th><div class="pull-right">{{ cart.totalCost() | giCurrency:cart.getCurrencySymbol }}</div></th>
              </tr>
            </tfoot>
            <tbody>
              <tr ng-repeat="item in cart.getItems() track by $index">
                <td>{{ item.getName() }}</td>
                <td><div class="pull-right">{{ item.getTotal(cart.getPricingInfo()) | giCurrency:cart.getCurrencySymbol}}</div></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="checkout-billing-container-wrapper">
          <div class="checkout-colored-menu relative-container">
            <div class="checkout-form-section">
              <div class="checkout-form-section-title">
                ACCOUNT
              </div>
              <div class="login-reminder-container" ng-show="!model.me.loggedIn">
                <span class="checkout-text">Already have an account? <a class="checkout-href" ng-click="showLoginModal()">Sign in</a></span>
              </div>
              <div class="checkout-input-container" >
                <div class="checkout-input-row" ng-if="!model.me.loggedIn">
                  <div class="checkout-half-row checkout-input-wrapper">
                    <div class="form-group" ng-class="{'has-error': isPropertyValidationError('firstName'), 'has-success': isPropertyValidationSuccess('firstName')}">
                      <input class="form-control"
                      type="text"
                      tabindex="1"
                      name="firstName"
                      ng-model="cart.customerInfo.firstName"
                      placeholder="First Name"
                      required/>
                    </div>
                  </div><!--comment to avoid having a newline
                  --><div class="checkout-half-row checkout-input-wrapper">
                    <div class="form-group" ng-class="{'has-error': isPropertyValidationError('lastName'), 'has-success': isPropertyValidationSuccess('lastName')}">
                      <input class="form-control"
                      type="text"
                      tabindex="1"
                      name="lastName"
                      ng-model="cart.customerInfo.lastName"
                      ng-pattern="lastNameRegex"
                      placeholder="Last Name"
                      required/>
                    </div>
                  </div>
                </div>
                <div class="checkout-input-row checkout-input-wrapper" ng-if="!model.me.loggedIn">
                  <div class="form-group" ng-class="{'has-error': isPropertyValidationError('email'), 'has-success': isPropertyValidationSuccess('email')}">
                    <input class="form-control"
                    type="email"
                    tabindex="1"
                    name="email"
                    placeholder="Email"
                    ng-model="cart.customerInfo.email"
                    ng-pattern="emailRegex"
                    gi-username
                    required/>
                  </div>
                </div>
                <div class="checkout-input-row" ng-if="!model.me.loggedIn">
                  <div class="checkout-half-row checkout-input-wrapper form-group"
                  ng-class="{'has-error': isPropertyValidationError('password'), 'has-success': isPropertyValidationSuccess('password')}">
                    <input class="form-control"
                    type="password"
                    tabindex="1"
                    name="password"
                    placeholder="Password"
                    ng-model="cart.customerInfo.password"
                    gi-password
                    ng-required="!model.me.loggedIn"/>
                  </div><!--comment to avoid having a newline
                  --><div class="checkout-half-row checkout-input-wrapper form-group"
                  ng-class="{'has-error': isPropertyValidationError('confirm'), 'has-success': isConfirmPasswordSuccess('confirm')}">
                    <input class="form-control"
                    type="password"
                    tabindex="1"
                    name="confirm"
                    ng-model="cart.customerInfo.confirm"
                    placeholder="Confirm Password"
                    gi-match="item.password"
                    ng-required="!model.me.loggedIn"
                    tabindex="1"/>
                  </div>
                </div>
                <div class="checkout-input-row form-group"
                ng-class="{'has-error': isPropertyValidationError('companyName'), 'has-success': isPropertyValidationSuccess('companyName')}">
                  <div class="checkout-half-row checkout-input-wrapper">
                    <input class="form-control"
                    type="text"
                    tabindex="1"
                    name="companyName"
                    ng-model="cart.company.name"
                    placeholder="Company (optional)"/>
                  </div>
                </div>
                <!-- <div class="checkout-input-row checkout-input-wrapper">
                  <div class="checkbox checkbox-circle">
                    <input type="checkbox" ng-model="insights">
                    <label class="checkout-checkbox" ng-click="insights = !insights">Do you want to receive updates and insights from VFQ?</label>
                  </div>
                </div> -->
              </div>
            </div>
            <div class="checkout-form-section">
              <div class="checkout-form-section-title">
                PAYMENT METHOD
              </div>
              <span class="checkout-text"> Need to pay with an invoice? You can request one <a class="checkout-href" href="/">here</a></span>
              <div class="checkout-input-container" >
                <div class="checkout-input-row checkout-input-wrapper">
                  <div class="checkout-card-wrapper">
                    <div id="checkout-card-container"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="checkout-form-section">
              <div class="checkout-form-section-title">
                BILLING ADDRESS
              </div>
              <div class="checkout-input-container">
                <div class="checkout-input-row checkout-input-wrapper">
                  <div class="form-group"
                  ng-class="{'has-error': isPropertyValidationError('billing-line1'),'has-success': isPropertyValidationSuccess('billing-line1')}">
                    <input class="form-control"
                    type="text"
                    tabindex="1"
                    placeholder="Address line 1"
                    name="billing-line1"
                    ng-model="cart.billingAddress.line1"
                    required/>
                  </div>
                </div>
                <div class="checkout-input-row checkout-input-wrapper">
                  <div class="form-group">
                    <input class="form-control"
                    type="text"
                    tabindex="1"
                    placeholder="Address line 2"
                    ng-model="cart.billingAddress.line2"/>
                  </div>
                </div>
                <div class="checkout-input-row">
                  <div class="checkout-two-third-row checkout-input-wrapper form-group"
                  ng-class="{'has-error': isPropertyValidationError('billing-city'), 'has-success': isPropertyValidationSuccess('billing-city')}">
                    <input class="form-control"
                    type="text"
                    tabindex="1"
                    name="billing-city"
                    placeholder="City"
                    ng-model="cart.billingAddress.city"
                    required/>
                  </div><!--comment to avoid having a newline
                  --><div class="checkout-third-row checkout-input-wrapper form-group"
                  ng-class="{'has-error': isPropertyValidationError('billing-code'), 'has-success': isPropertyValidationSuccess('billing-code')}">
                    <input class="form-control"
                    type="text"
                    tabindex="1"
                    name="billing-code"
                    placeholder="Postcode"
                    ng-model="cart.billingAddress.code"
                    required/>
                  </div>
                </div>
                <div class="checkout-input-row checkout-input-wrapper">
                  <div class="form-group" ng-class="{'has-success': validCountry}">
                    <ui-select class="checkout-select" tabindex="1" required on-select="checkValid($select.selected.name)" ng-model="cart.billingAddress.country">
                      <ui-select-match placeholder="Country">{{$select.selected.name}}</ui-select-match>
                      <ui-select-choices repeat="t.code as t in model.countries | orderBy:getCountrySorter() | filter: $select.search">
                        <div ng-bind-html="t.name | highlight: $select.search"></div>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!--
      --><div class="checkout-right-menu-container">
        <div class="checkout-summary-container full-summary">
          <div class="summary-title">Summary</div>
          <table class="table checkout-table">
            <thead>
              <tr>
                <th><span class="checkout-text">Order</span></th>
                <th></th>
              </tr>
            </thead>
            <tfoot>
              <tr class="checkout-total-row">
                <th>Total</th>
                <th><div class="pull-right">{{ cart.totalCost() | giCurrency:cart.getCurrencySymbol }}</div></th>
              </tr>
            </tfoot>
            <tbody>
              <tr ng-repeat="item in cart.getItems() track by $index">
                <td>{{ item.getName() }}</td>
                <td><div class="pull-right">{{ item.getTotal(cart.getPricingInfo()) | giCurrency:cart.getCurrencySymbol}}</div></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="checkout-confirmation-container-wrapper">
          <div class="checkout-colored-menu">
            <div class="checkout-form-section checkout-submit-section">
              <div class="checkout-form-section-title">
                REVIEW & CONFIRM
              </div>
              <div class="checkout-submit-text-container">
                <div class="checkout-submit-text">
                    <p class="checkout-submit-paragraph">
                      You will be charged upon confirmation of your purchase. Your next payment will be on {{currentDate.toLocaleString('default', { month: 'long' })}} {{currentDate.getDate()}}, {{currentDate.getFullYear()}}.
                    </p>
                    <p class="checkout-submit-paragraph">
                      If you decide to cancel your subscription at any point simply email us at education@valueflowquality.com. You will have until the term expiry date to continue using your subscription.
                    </p>
                </div>
              </div>
              <div class="btn btn-primary checkout-submit"
              tabindex="9"
              ng-click="subscribeNow()"
              gi-enter="subscribeNow()"
              ng-disabled="cart.isCheckoutFormInvalid() || isSpinnerShown">
                Confirm purchase
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row medium-gap">
    <div ng-if="errorMessage" ng-click="removeError()" class="error-box">{{ errorMessage }}</div>
  </div>
</div>
