<div class="container preloader-wrapper" ng-if="pageReady == false">
  <div class="preloader">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>
</div>
<div ng-show="pageReady" class="container gi-cart checkout-container">
  <div class="row" ng-show="cart.totalItems() === 0 && !inPayment">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 well">
      <p>Your cart is empty</p>
    </div>
  </div>
  <div ng-cloak class="small-gap" ng-show="cart.totalItems() > 0">
    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="gi-cart-spinner-1"></span>
    <div ng-form name="checkoutForm" class="checkout-form" ng-show="!inPayment">
      <div class="two-third-block centered-block">
        <div class="checkout-summary-container">
          <table class="table checkout-table">
            <tfoot>
              <tr class="checkout-total-row">
                <th>Total</th>
                <th><div class="pull-right">{{ cart.totalCost() | giCurrency:cart.getCurrencySymbol() }}</div></th>
              </tr>
            </tfoot>
            <tbody>
              <tr ng-repeat="item in cart.getItems() track by $index">
                <td><div class="item-title">{{ item.getName() }}</div><div class="item-description">{{ item.getData().basketDescription }}</div></td>
                <td><div class="pull-right item-price">{{ item.getTotal(cart.getPricingInfo()) | giCurrency:cart.getCurrencySymbol() }}<div ng-click="cart.removeItem($index)" class="remove-icon"></span></div></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="checkout-colored-menu relative-container">
        <div class="checkout-form-section account-section">
          <div class="section-number-container inline-container">
            <div class="section-number">1</div>
          </div><!--
          --><div class="main-account-section" ng-if="!model.me.loggedIn">
            <div class="checkout-form-section-title input-adjustment account-title">
              Account Details
            </div>
            <div class="login-reminder-container">
              <span class="sign-in-text">Already have an account? <a class="checkout-href" ng-click="showLoginModal()">Sign in</a></span>
            </div>
            <div class="checkout-input-container">
              <div class="checkout-quarter-row checkout-input-wrapper">
                <div class="form-group">
                  <div class="input-container">
                    <input class="form-control"
                    type="text"
                    tabindex="1"
                    name="firstName"
                    ng-model="cart.customerInfo.firstName"
                    placeholder="First Name"
                    required/><!--
                    --><div class="input-validity-indicator">
                      <div class="validity-icon"
                      ng-class="{'has-error': isPropertyValidationError('firstName'), 'has-success': isPropertyValidationSuccess('firstName')}">
                      </div>
                    </div>
                  </div>
                </div>
              </div><!--comment to avoid having a newline
              --><div class="checkout-quarter-row checkout-input-wrapper">
                <div class="form-group">
                  <div class="input-container">
                    <input class="form-control"
                    type="text"
                    tabindex="1"
                    name="lastName"
                    ng-model="cart.customerInfo.lastName"
                    ng-pattern="lastNameRegex"
                    placeholder="Last Name"
                    required/><!--
                    --><div class="input-validity-indicator">
                      <div class="validity-icon"
                      ng-class="{'has-error': isPropertyValidationError('lastName'), 'has-success': isPropertyValidationSuccess('lastName')}">
                      </div>
                    </div>
                  </div>
                </div>
              </div><!--
              --><div class="checkout-half-row checkout-input-wrapper">
                <div class="form-group">
                  <div class="input-container">
                    <input class="form-control"
                    type="email"
                    tabindex="1"
                    name="email"
                    placeholder="Email"
                    ng-model="cart.customerInfo.email"
                    ng-pattern="emailRegex"
                    gi-username
                    required/><!--
                    --><div class="input-validity-indicator">
                      <div class="validity-icon"
                      ng-class="{'has-error': isPropertyValidationError('email'), 'has-success': isPropertyValidationSuccess('email')}">
                      </div>
                    </div>
                  </div>
                </div>
              </div><!--
              --><div class="checkout-half-row checkout-input-wrapper form-group">
                <div class="input-container">
                  <input class="form-control"
                  type="password"
                  tabindex="1"
                  name="password"
                  placeholder="Password"
                  ng-model="cart.customerInfo.password"
                  gi-password
                  ng-required="!model.me.loggedIn"/><!--
                  --><div class="input-validity-indicator">
                    <div class="validity-icon"
                    ng-class="{'has-error': isPropertyValidationError('password'), 'has-success': isPropertyValidationSuccess('password')}">
                    </div>
                  </div>
                </div>
              </div><!--comment to avoid having a newline
              --><div class="checkout-half-row checkout-input-wrapper form-group">
                <div class="input-container">
                  <input class="form-control"
                  type="password"
                  tabindex="1"
                  name="confirm"
                  ng-model="cart.customerInfo.confirm"
                  placeholder="Confirm Password"
                  gi-match="cart.customerInfo.password"
                  ng-required="!model.me.loggedIn"
                  tabindex="1"/><!--
                  --><div class="input-validity-indicator">
                    <div class="validity-icon"
                    ng-class="{'has-error': isPropertyValidationError('confirm'), 'has-success': isPropertyValidationSuccess('confirm')}">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="checkbox checkbox-circle">
              <input type="checkbox" ng-model="insights">
              <label class="checkout-checkbox" ng-click="insights = !insights">Do you want to receive updates and insights from VFQ?</label>
            </div>-->
          </div><!--
          --><div class="logged-in-account-section" ng-if="model.me.loggedIn">
            <div class="checkout-form-section-title input-adjustment logged-in-account-title">
              Welcome back, {{model.me.user.firstName}}
            </div>
            <div class="input-adjustment logged-in-account-description">
              {{model.me.user.email}}
            </div>
            <div class="logout-reminder-container">
              <a class="checkout-href" href="/a/logout">Not you?</a>
            </div>
          </div>
        </div>
      </div>
      <div class="checkout-half-row left-section">
        <div class="payment-details-height checkout-colored-menu relative-container">
          <div class="checkout-form-section">
            <div class="section-number-container block-container">
              <div class="section-number">2</div>
            </div>
            <div class="checkout-form-section-title input-adjustment">
              Payment Details
            </div>
            <div class="form-group company-checkbox">
              <div class="checkbox checkbox-success checkbox-circle">
                <input type="checkbox" ng-model="cart.business" tabindex="1" autofocus="" class="ng-pristine ng-valid ng-touched">
                <label ng-click="cart.business = !cart.business" class="">Buying for a company?</label>
              </div>
            </div>
            <div class="invoice-request">Need an invoice? Request one
              <a
              class="checkout-href"
              href="mailto: education@valueflowquality.com?subject=Invoice request for VFQ Membership&body=Please send us the information below%0D%0A%0D%0A%0D%0ACompany Name:%0D%0A%0D%0ACompany address:%0D%0A%0D%0ACompany VAT Number:%0D%0A%0D%0ANumber of memberships to be purchased:%0D%0A%0D%0AName and email address of new members:%0D%0A%0D%0A">
                here
              </a>
            </div>
            <div class="checkout-input-container">
              <div class="checkout-half-row checkout-input-wrapper" ng-show="cart.business">
                <div class="form-group">
                  <div class="input-container">
                    <input class="form-control"
                    type="text"
                    tabindex="1"
                    name="companyName"
                    ng-model="cart.company.name"
                    ng-required="cart.business"
                    placeholder="Company"/><!--
                    --><div class="input-validity-indicator">
                      <div class="validity-icon"
                      ng-class="{'has-error': isPropertyValidationError('companyName'), 'has-success': isPropertyValidationSuccess('companyName')}">
                      </div>
                    </div>
                  </div>
                </div>
              </div><!--
              --><div class="checkout-half-row checkout-input-wrapper" ng-show="cart.business">
                <div class="form-group">
                  <div class="input-container">
                    <input class="form-control"
                    type="text"
                    tabindex="1"
                    name="vat"
                    ng-model="cart.company.VAT"
                    placeholder="PVN Number (optional)"/><!--
                    --><div class="input-validity-indicator">
                      <div class="validity-icon"
                      ng-class="{'has-error': isPropertyValidationError('vat'), 'has-success': isPropertyValidationSuccess('vat')}">
                      </div>
                    </div>
                  </div>
                </div>
              </div><!--
              --><div class="checkout-input-wrapper">
                <div class="checkout-card-wrapper">
                  <div id="checkout-card-container"></div><!--
                    --><div class="input-validity-indicator">
                      <div class="validity-icon"
                      ng-class="{'has-error': cart.isCardElementFormValid() == false, 'has-success': cart.isCardElementFormValid() == true}">
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!--
      --><div class="checkout-half-row right-section">
        <div class="payment-details-height checkout-colored-menu relative-container">
          <div class="checkout-form-section">
            <div class="section-number-container block-container">
              <div class="section-number">3</div>
            </div>
            <div class="checkout-form-section-title input-adjustment">
              Billing Address
            </div>
            <div class="checkout-input-container">
              <div class="checkout-half-row checkout-input-wrapper">
                <div class="form-group">
                  <div class="input-container">
                    <input class="form-control"
                    type="text"
                    tabindex="1"
                    placeholder="Address line 1"
                    name="billing-line1"
                    ng-model="cart.billingAddress.line1"
                    required/><!--
                    --><div class="input-validity-indicator">
                      <div class="validity-icon"
                      ng-class="{'has-error': isPropertyValidationError('billing-line1'), 'has-success': isPropertyValidationSuccess('billing-line1')}">
                      </div>
                    </div>
                  </div>
                </div>
              </div><!--
              --><div class="checkout-half-row checkout-input-wrapper">
                <div class="form-group">
                  <div class="input-container">
                    <input class="form-control"
                    type="text"
                    tabindex="1"
                    placeholder="Address line 2 (optional)"
                    name="billing-line2"
                    ng-model="cart.billingAddress.line2"/><!--
                    --><div class="input-validity-indicator">
                      <div class="validity-icon"
                      ng-class="{'has-error': isPropertyValidationError('billing-line2'), 'has-success': isPropertyValidationSuccess('billing-line2')}">
                      </div>
                    </div>
                  </div>
                </div>
              </div><!--
              --><div class="checkout-half-row checkout-input-wrapper form-group">
                <div class="input-container">
                  <input class="form-control"
                  type="text"
                  tabindex="1"
                  name="billing-city"
                  placeholder="City"
                  ng-model="cart.billingAddress.city"
                  required/><!--
                  --><div class="input-validity-indicator">
                    <div class="validity-icon"
                    ng-class="{'has-error': isPropertyValidationError('billing-city'), 'has-success': isPropertyValidationSuccess('billing-city')}">
                    </div>
                  </div>
                </div>
              </div><!--
              --><div class="checkout-half-row checkout-input-wrapper">
                <div class="form-group">
                  <div class="input-container">
                    <input class="form-control"
                    type="text"
                    tabindex="1"
                    name="billing-state"
                    placeholder="State/Region (optional)"
                    ng-model="cart.billingAddress.state"/><!--
                    --><div class="input-validity-indicator">
                      <div class="validity-icon"
                      ng-class="{'has-error': isPropertyValidationError('billing-state'), 'has-success': isPropertyValidationSuccess('billing-state')}">
                      </div>
                    </div>
                  </div>
                </div>
              </div><!--
              --><div class="checkout-three-quarter-row checkout-input-wrapper">
                <div class="form-group" ng-class="{'has-success': validCountry}">
                  <ui-select class="checkout-select" tabindex="1" required on-select="checkValid($select.selected.name)" ng-model="cart.billingAddress.country">
                    <ui-select-match placeholder="Country">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="t.code as t in model.countries | orderBy:getCountrySorter() | filter: $select.search">
                      <div ng-bind-html="t.name | highlight: $select.search"></div>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div><!--
              --><div class="checkout-quarter-row postcode-row checkout-input-wrapper form-group">
                <div class="input-container">
                  <input class="form-control"
                  type="text"
                  tabindex="1"
                  name="billing-code"
                  placeholder="Postcode"
                  ng-model="cart.billingAddress.code"
                  required/><!--
                  --><div class="input-validity-indicator">
                    <div class="validity-icon"
                    ng-class="{'has-error': isPropertyValidationError('billing-code'), 'has-success': isPropertyValidationSuccess('billing-code')}">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="checkout-border-menu relative-container">
        <div class="checkout-form-section confirmation-section">
          <div class="confirmation-text-container">
            <div class="checkout-form-section-title input-adjustment">
              Review & confirm
            </div>
            <p>
              You will be charged once upon confirmation of your purchase. Your VFQ Membership will be valid until {{nextPaymentDate.getDate()}} {{nextPaymentDate.toLocaleString('default', { month: 'long' })}} {{nextPaymentDate.getFullYear()}}.
            </p>
            <p>
              By continuing with this purchase you agree to our <a class="checkout-href" href="/terms-and-conditions">Terms and Conditions</a>.
            </p>
          </div><!--
          --><div class="confirmation-button-container">
            <div class="btn checkout-submit"
              tabindex="9"
              ng-click="subscribeNow()"
              gi-enter="subscribeNow()"
              ng-disabled="cart.isCheckoutFormInvalid() || isSpinnerShown">
                CONFIRM PURCHASE
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row medium-gap">
    <div ng-if="errorMessage" ng-click="removeError()" class="error-box">{{ errorMessage }}</div>
  </div>
</div>
